header{
    background-image:url('https://imgs.search.brave.com/hIdKgsb50vLbQlw4dVtXk_hlyAgB3FyBSg7sOVwufHU/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTM1/NjU2OTkzMi9waG90/by9zdHlsZS1hbmQt/Y29uZmlkZW5jZS5q/cGc_cz02MTJ4NjEy/Jnc9MCZrPTIwJmM9/QTM1SWhrWDFqZjli/NThsY3lZUW1kN01n/Q3ZHbEk4YURqMS1T/S2hZMWhnST0');
    padding:10%;
    text-align:center;
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: 60%;
}
nav{
    margin: auto;
    padding: 10px;
    text-align: right;
    background-color: #2b1a3a
}
main{
    margin: auto;
    position: relative;
    padding: 30px;
    }
section{
    margin: auto;
    text-align: center;
    background-color: rgb(73, 59, 110);
}
div{
    display:flex;
    width: 200px;
    margin:1px;
    border: 1px
    }
    .container{
    display: flex;
    height: 200px;
    width: 6px;
}
h1{
  padding:5px;
    text-align: center;
    background-size: cover;
    position: relative;
}
form{
    margin: auto;
    padding: 30px;
    text-align: center;
    background-color: #9c7474
}
.footer{
  background-color: #1a1a1a;
  color: #f1f1f1;
  padding: 50px 20px 20px;
}
.footer-container {
  display: flex;
  justify-content:center
  max-width: 1000px;
}
.footer-col {
  flex: 23px;
  margin: 20px;
}
.footer-col h3 {
  color: #00ff99;
  margin-bottom: 15px;
}
.footer-col h4 {
  color: #00ff99;
  margin-bottom: 15px;
}
.footer-col ul {
  list-style: none;
  padding: 10px;
}
.footer-col ul li {
  margin-bottom: 10px;
}
.footer-col ul li a {
  text-decoration: none;
  color: #bbb;
  transition: color 0.3s;
}
.footer-col ul li a:hover {
  color: #00ff99;
}
.footer-bottom {
  text-align: center;
  border-top: 1px solid #333;
  margin-top: 30px;
  padding-top: 15px;
  font-size: 14px;
  color: #aaa;
  position: relative;
}
  .footer-col {
    margin: 15px 0;
    position:relative;
  }

